.main-bar-container{
  overflow: hidden;
  padding: 20px 0;
}
.main-bar-container > h3{
  float: left;
  margin: 0 10px 0 0
}
.main-bar-container > button{
  float: left;
}
.main-bar-container > button:last-child{
  float: right;
}
.image-list-container{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.image-list-container img{
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.image-list-container img:hover{
  box-shadow: 4px 4px 4px grey;
  opacity: 0.5;
  cursor: pointer;
}